@model UserVM
@{
    ViewData["Title"] = "Account";
    Setting setting = ViewBag.Setting;
}

<!-- Main Start -->
<main>
    <!-- Main-header start -->
    <section id="main-header" data-bg-image=uploads/setting/@setting.MainBgImgSrc>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="header-title">Account</h2>
                    <ul class="page-list">
                        <li class="page-item"><a asp-controller="home" asp-action="index">Home</a></li>
                        <li class="page-item active">Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Main-header end -->
    <!-- Account start -->
    <section id="account" class="py-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="tab-buttons">
                        <ul class="tab-list">
                            <li>
                                <a href="#account-details" data-bs-toggle="tab" class="nav-link active">
                                    Account
                                    details
                                </a>
                            </li>
                            <li><a href="#address" data-bs-toggle="tab" class="nav-link">Addresses</a></li>
                            <li> <a href="#orders" data-bs-toggle="tab" class="nav-link">Orders</a></li>
                            <li><a href="login.html" class="nav-link">logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane @(Model.DataTab=="details"?"fade active show":"")" id="account-details">
                            <h3>Account details </h3>
                            <div class="details">
                                <div class="details_form_container">
                                    <div class="account_details_form">
                                        <form method="post" action="account/detail"  enctype="multipart/form-data">
                                            <input asp-for="DataTab" type="hidden" value="details" />
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="input-radio">
                                                        @foreach (var gender in Model.Genders)
                                                        {
                                                            <span class="custom-radio">
                                                                <input type="radio" asp-for="Gender" value="@gender" />@gender<br disable />
                                                            </span>
                                                        }

                                                        <span class="text-danger" asp-validation-for="Gender"></span>
                                                    </div> <br>
                                                           <div class="account-form-box mb-4">
                                                               <label asp-for="FirstName">First Name</label>
                                                               <input asp-for="FirstName" >
                                                               <span class="text-danger" asp-validation-for="FirstName"></span>
                                                           </div>
                                                           <div class="account-form-box mb-4">
                                                               <label asp-for="LastName">Last Name</label>
                                                               <input asp-for="LastName">
                                                               <span class="text-danger" asp-validation-for="LastName"></span>
                                                           </div>
                                                           <div class="account-form-box mb-4">
                                                               <label asp-for="Email">Email</label>
                                                               <input asp-for="Email">
                                                               <span class="text-danger" asp-validation-for="Email"></span>
                                                           </div>
                                                           <div class="account-form-box mb-4">
                                                               <label asp-for="Password">Password</label>
                                                               <input asp-for="Password">
                                                               <span class="text-danger" asp-validation-for="Password"></span>
                                                           </div>
                                                           <div class="account-form-box mb-4">
                                                               <label asp-for="ConfirmPassword">Confirm Password</label>
                                                               <input asp-for="ConfirmPassword">
                                                               <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                                           </div>
                                                           <div class="account-form-box mb-4">
                                                               <label asp-for="BirthDay">Birthdate</label>
                                                               <input asp-for="BirthDay">
                                                               <span class="text-danger" asp-validation-for="BirthDay"></span>
                                                           </div>
                                                    <span class="example">
                                                        (E.g.: 07-Jul-1991)
                                                    </span>
                                                    <br>
                                                    <div class="save_button mt-3">
                                                        <button class="btn-save" type="submit">Save</button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="detail-profil-image">
                                                        @{
                                                            string src = "";
                                                            if (Model.Image == null)
                                                            {
                                                                src = "user-default.png";
                                                            }
                                                            else
                                                            {
                                                                src = Model.Image;
                                                            }
                                                        }
                                                        <div class="image-content" style="background-image: url(@Url.Content(" /uploads/users/" + src))">
                                                        </div>
                                                        <div class="hidden-input">
                                                            <input asp-for="Image" type="hidden">
                                                        </div>
                                                        <div class="account-form-box mb-4">
                                                            <label asp-for="ImageFile">Birthdate</label>
                                                            <input asp-for="ImageFile">
                                                            <span class="text-danger" asp-validation-for="ImageFile"></span>
                                                        </div>
                                                    </div>
                                                    </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane @(Model.DataTab=="address"?"fade active show":"")" id="address">
                            <p>The following addresses will be used on the checkout page by default.</p>
                            <h5 class="billing-address">Billing address</h5>
                            <div class="address">
                                <a href="#" class="edit-address">Edit</a>
                                <br>
                                <strong>Address:</strong>
                                <span class="mb-1 d-inline-block street-apt">@Model.Address</span>,
                                <br>
                                <strong>City:</strong>
                                <span class="mb-1 d-inline-block city"> @Model.City</span>,
                                <br>
                                <strong>State/Region:</strong>
                                <span class="mb-1 d-inline-block state-region"> @Model.StateOrRegion</span>,
                                <br>
                                <strong>ZIP/Postal Code:</strong>
                                <span class="mb-1 d-inline-block zip-postal"> @Model.ZipOrPostalCode</span>,
                                <br>
                                <strong>Country:</strong>
                                <span class="country"> @Model.Country</span>
                            </div>
                            <div class="edit-address-form d-none">
                                <form method="post">
                                    <input asp-for="DataTab" type="hidden" value="address" />
                                    <div class="address-form-box mb-4">
                                        <label asp-for="Address">Address</label>
                                        <input asp-for="Address">
                                        <span class="text-danger" asp-validation-for="Address"></span>
                                    </div>
                                    <div class="address-form-box mb-4">
                                        <label asp-for="City">City</label>
                                        <input asp-for="City">
                                        <span class="text-danger" asp-validation-for="City"></span>
                                    </div>
                                    <div class="address-form-box mb-4">
                                        <label asp-for="StateOrRegion">State/Region</label>
                                        <input asp-for="StateOrRegion">
                                        <span class="text-danger" asp-validation-for="StateOrRegion"></span>
                                    </div>
                                    <div class="address-form-box mb-4">
                                        <label asp-for="ZipOrPostalCode">ZIP/Postal Code</label>
                                        <input asp-for="ZipOrPostalCode">
                                        <span class="text-danger" asp-validation-for="ZipOrPostalCode"></span>
                                    </div>
                                    <div class="address-form-box mb-4">
                                        <label asp-for="ZipOrPostalCode">Country</label>
                                        <input asp-for="ZipOrPostalCode">
                                        <span class="text-danger" asp-validation-for="ZipOrPostalCode"></span>
                                    </div>
                                    <div class="save_button mt-3">
                                        <button class="btn-save" id="btn_save_address" type="submit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="orders">
                            <h4>Orders</h4>
                            <div class="table_page table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    @{
                                        int order = 1;
                                    }
                                <tbody>
                                    @if (ViewBag.Orders != null)
                                    {
                                        @foreach (Order item in ViewBag.Orders)
                                        {
                                    <tr>
                                        <td>@order</td>
                                        <td>@item.CreatedAt.ToString("MMM dd, yyyy") May 10, 2018</td>
                                        @if (item.Status == null)
                                        {
                                            <td><span class="orange-text">Processing</span></td>
                                        }
                                        else if (item.Status == true)
                                        {
                                            <td><span class="green-text">Completed</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="red-text">Rejected</span></td>
                                        }

                                        <td>$@item.TotalPrice for @item.OrderItems.Count() item </td>
                                        <td><a asp-action="cart" class="view">view</a></td>
                                    </tr>
                                        }
                                    }
                                    <tr>
                                        <td>2</td>
                                        <td>May 10, 2018</td>
                                        <td>Processing</td>
                                        <td>$17.00 for 1 item </td>
                                        <td><a asp-action="cart" class="view">view</a></td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Account end -->
</main>
<!-- Main End -->
@section Scripts{ 
    <script>
        $(document).ready(function () {
            $(document).on("click", ".edit-address", function (e) {
                e.preventDefault();
                let address = {
                    stritApt: $(".street-apt").text(),
                    city: $(".city").text(),
                    stateRegion: $(".state-region").text(),
                    zipPostal: $(".zip-postal").text(),
                    country: $(".country").text()
                }
                $(".address").addClass("d-none");

                $("#street_apt").val(address.stritApt);
                $("#city").val(address.city);
                $("#state_region").val(address.stateRegion);
                $("#zip_postal").val(address.zipPostal);
                $("#country").val(address.country);

                $(".edit-address-form").removeClass("d-none");
            });
            $(document).on("click", "#btn_save_address", function (e) {
               
                $(".edit-address-form").addClass("d-none");
                $(".address").removeClass("d-none");
            });
        });
    </script>
}
